<div class="container__about-me">
  <div class="about-me__top">
    <img src="./assets/img/about-me.jpg" alt="" />
    <h1>John Smith</h1>
    <p>
      Many varations of passages of Lorem Ipsum available, but the majoritary
      have suffered alteration in some form, by injected
    </p>
    <a href="">Read more</a>
  </div>

  <div class="dividing-line"></div>

  <div class="about-me__bottom">
    <div class="socials">
      <ul>
        <li>
          <a href="#facebook"><i class="fa-brands fa-facebook-f"></i></a>
        </li>
        <li>
          <a href="#twitter"><i class="fa-brands fa-x-twitter"></i></a>
        </li>
        <li>
          <a href="#instagram"><i class="fa-brands fa-instagram"></i></a>
        </li>
        <li>
          <a href="#pinterest"><i class="fa-brands fa-pinterest-p"></i></a>
        </li>
      </ul>
    </div>
  </div>
</div>
