<div class="container__best-post">
  <div class="best-post__top">
    <img src="./assets/img/best-post.jpg" alt="" />
    <h1>Fashion</h1>
    <h2>The benefits of traveling with a second language</h2>
    <p>
      There are many variations of passagens of Lorem Ipsum available, but the
      majority have suffered alteration in some form, by injected humour, or
      randomised words wich
    </p>
    <button>Read More</button>
  </div>
  <div class="best-post__bottom">
    <div class="bottom__left">
      <span class="released-date">June 14, 2023</span>
      <span class="dot"></span>
      <span class="number-comments">12 Comment</span>
    </div>
    <div class="bottom__right">
      <p>Share:</p>
      <div class="socials">
        <ul>
          <li>
            <a href="#facebook"><i class="fa-brands fa-facebook-f"></i></a>
          </li>
          <li>
            <a href="#twitter"><i class="fa-brands fa-x-twitter"></i></a>
          </li>
          <li>
            <a href="#instagram"><i class="fa-brands fa-instagram"></i></a>
          </li>
          <li>
            <a href="#pinterest"><i class="fa-brands fa-pinterest-p"></i></a>
          </li>
        </ul>
      </div>
    </div>
  </div>
</div>
