<div class="container__filter-page">
  <div class="filter-page__type">
    <img src="./assets/img/fashion.jpg" alt="" />
    <div class="overlay">
      <img class="triangle-img" src="./assets/img/triangle.svg" alt="" />
      <div>
        <h1><a href="/fashion">Fashion</a></h1>
      </div>
    </div>
  </div>

  <div class="filter-page__type">
    <img src="./assets/img/travel.jpg" alt="" />
    <div class="overlay">
      <img class="oval-img" src="./assets/img/oval.svg" alt="" />
      <div>
        <h1><a href="/travel">Travel</a></h1>
      </div>
    </div>
  </div>

  <div class="filter-page__type">
    <img src="./assets/img/life-style.jpg" alt="" />
    <div class="overlay">
      <img class="square-img" src="./assets/img/square.svg" alt="" />
      <div>
        <h1><a href="/lifestyle">Life Style</a></h1>
      </div>
    </div>
  </div>
</div>
