<footer class="container__footer-bar">
  <div class="footer-bar__top">
    <div class="home-btn"><a routerLink="/">LUIZ'S BLOG</a></div>
    <p>
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Nesciunt
      temporibus doloribus labore nulla, voluptas laborum repudiandae voluptatum
      expedita est quis et soluta, ratione velit amet quia possimus repellendus?
      Sint, cumque? Lorem, ipsum dolor sit amet consectetur adipisicing elit.
      Nulla voluptate, inventore iure neque!
    </p>
  </div>
  <div class="footer-bar__bottom">
    <ul class="bottom__menu">
      <li><a href="">HOME</a></li>
      <li><a href="">FEATURES</a></li>
      <li><a href="">SINGLE POST</a></li>
      <li><a href="">LIFE STYLE</a></li>
      <li><a href="">ABOUT</a></li>
      <li><a href="">CONTACT</a></li>
    </ul>
  </div>
</footer>
<h3>&copy; Copyright 2023 - LuizinBRzado All Rights Reserved.</h3>
