.container__content {
    display: flex;
    justify-content: space-between;
    gap: 2rem;
    padding: 0 5rem;
    background-color: #fff;
    min-height: 100vh;
}

.container__content article {
    width: 100%;
}

.container__content aside {
    width: calc(325px + 10.7rem);
    display: flex;
    flex-direction: column;
    gap: 3rem;
}