<header class="container__menu-bar">
  <div class="menu-bar__top">
    <div class="socials">
      <ul>
        <li>
          <a href="#"><i class="fa-brands fa-facebook-f"></i></a>
        </li>
        <li>
          <a href="#"><i class="fa-brands fa-x-twitter"></i></a>
        </li>
        <li>
          <a href="#"><i class="fa-brands fa-instagram"></i></a>
        </li>
        <li>
          <a href="#"><i class="fa-brands fa-pinterest-p"></i></a>
        </li>
      </ul>
    </div>
    <div class="home-button"><a routerLink="/">LUIZ'S BLOG</a></div>
    <div class="search">
      <input type="text" placeholder="Enter Keyword" />
      <i class="fa-solid fa-magnifying-glass search-icon"></i>
    </div>
  </div>
  <div class="menu-bar__bottom">
    <ul class="bottom__menu">
      <li><a href="">HOME</a></li>
      <li><a href="">FEATURES</a></li>
      <li><a href="">SINGLE POST</a></li>
      <li><a href="">LIFE STYLE</a></li>
      <li><a href="">ABOUT</a></li>
      <li><a href="">CONTACT</a></li>
    </ul>
  </div>
</header>
