<div class="container__posts">
  <app-small-card
    title="Fast ways to travel"
    subtitle="Learn more about how to travel to any destination for free"
    body="Lorem ipsum, dolor sit amet consectetur adipisicing elit.
    Repellendus, commodi quod voluptate, nesciunt consequatur eos nam
    unde eum reiciendis facilis, beatae odio praesentium facere quibusdam
    at atque! Excepturi, ratione temporibus!"
    imgSrc="./assets/img/desert-footer.jpg"
    imgAlt="Desert image"
  /> 
  <app-small-card
    title="Fastest ways to travel"
    subtitle="Learn more about how to travel to any destination for free"
    body="Lorem ipsum, dolor sit amet consectetur adipisicing elit. Illum
    voluptatum esse, soluta totam inventore voluptates? Mollitia, sed rem debitis"
    imgSrc="./assets/img/about-me.jpg"
    imgAlt="About me image"
  />
  <app-small-card
    title="Fastest way to travel"
    subtitle="Learn more about how to travel to any destination for free"
    body="Lorem ipsum, dolor sit amet consectetur adipisicing elit.
    Repellendus, commodi quod voluptate, nesciunt consequatur eos nam
    unde eum reiciendis facilis, beatae odio praesentium!"
    imgSrc="./assets/img/travel.jpg"
    imgAlt="Travel image"
  />
  <app-small-card
    title="Fast ways to travel"
    subtitle="Learn more about how to travel to any destination for free"
    body="Lorem ipsum, dolor sit amet consectetur adipisicing elit.
    Repellendus, commodi quod voluptate, nesciunt consequatur eos nam
    unde eum reiciendis facilis, beatae odio praesentium facere quibusdam
    at atque! Excepturi, ratione temporibus!"
    imgSrc="./assets/img/best-post.jpg"
    imgAlt="Best post image"
  />
</div>
